MONGO_URI=mongodb+srv://thuyphuocthinhtpt1:09122003@cluster0.j97zc.mongodb.net/ecommerce-tipsjs?retryWrites=true&w=majority&appName=Cluster0
PORT=5000
DEV_APP_PORT=3000
DEV_DB_HOST=localhost
DEV_DB_PORT=27017
DEV_DB_NAME=dbDev
PRO_APP_PORT=3000
PRO_DB_HOST=localhost
PRO_DB_PORT=27017
PRO_DB_NAME=dbProduct
NODE_ENV=dev
CHANNEL_ID=1314221126024560653
TOKEN_DISCORD=your_discord_token

CLOUDINARY_CLOUD_NAME=dy0m9udjz
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

AWS_REGION=ap-southeast-1
AWS_BUCKET_NAME=shopdev-ecom-bucket-s3
AWS_BUCKET_ACCESS_KEY=your_aws_access_key
AWS_BUCKET_SECRET_KEY=your_aws_secret_key
AWS_CLOUDFRONT_DOMAIN=https://d2bueawcnwe0if.cloudfront.net
AWS_CLOUDFRONT_PUBLIC_KEY_ID=K10XVU65Z0IGBU
AWS_CLOUDFRONT_PRIVATE_KEY=your_cloudfront_private_key"

AWS_EMAIL_APP_USER=your_aws_email_app_user
AWS_EMAIL_APP_PASSWORD=your_aws_email_app_password
